nav ul li a {
    font-family: 'Abhaya Libre', serif;
    margin-right:30px ;
}
nav ul li a img{
    margin-right: 10px;
}

.poster{
    width:50vh;
    
}

.mdl{
    margin-right: auto;
    margin-left: auto;

}
h4{
    padding-top: 10px;
    margin-left: 10px;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Alfa Slab One', cursive;

}
.poster hr{
width: 70px;
color: rgb(231, 151, 2);
height: 2px;
margin-left: 10px;
padding-top: 0;
}
h5{
    font-weight: bold;
}
footer div ul li{
    font-family: 'Karantina', cursive;

}

footer div ul li:hover{
    text-decoration: underline;
}
